
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;600&family=Roboto+Slab:wght@600&display=swap');

*{
  margin: 0;
  padding: 0;
  background-color: aliceblue;
}



.header{
  background-color: rgb(245, 199, 226);
  color: rgb(51, 48, 48);
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  text-align: center;
  align-items: center;
}
.header h1{
  font-family: 'Dancing Script', cursive;
}
h1:hover{
  color: blue;
  font-size: 2em;
  
}